<div ng-controller="MainCtrl">
<h2>Aggregate time series chart</h2><br/>
    <table style="margin-left:10px;margin-right:10px">
        <tr>
            <td>Component</td>
            <td><div id="placeholder" style="width:800px;height:400px;margin-left:10px;margin-right:10px"></div></td>
            <td>Weight</td>
        </tr>
        <tr>
            <td></td>
            <td style="padding-left: 400px">Date</td>
        </tr>
    </table>
</div>